@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&family=Quicksand:wght@400;600;700&family=Sen:wght@400;600;700;800&display=swap");
html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Sen", "Poppins", sans-serif;
}

.content {
  overflow-y: scroll;
}

.app {
  display: flex;
  position: relative;
}
